<h1>Trip Number <%= @trip.id %></h1>
<% if @trip.errors.any?%>
<ul>
  <% @trip.errors.each do |field, message|%>
  <li>
    <strong>
      <%= field.capitalize%>:</strong><%= message%>
    </li>
    <%end%>
  </ul>
<%end%>

  <section>
    <p>
      <strong>Trip ID: </strong><%= @trip.id %>
    </p>
    <p>
      <strong>Driver: </strong> <%= link_to @trip.driver.name, driver_path(@trip.driver.id) %>
    </p>
    <p>
      <strong>Passenger: </strong> <%= link_to@trip.passenger.name, passenger_path(@trip.passenger.id) %>
    </p>
    <p>
      <strong>Date: </strong> <%= @trip.date%>
    </p>

    <% if @trip.rating == nil%>
    <p>

      <%= form_for @trip, :url => submit_rating_path do |f|%>
      <strong><%= f.label :rating %>:</strong>

      <%= f.select :rating, options_for_select(1..5) %>

      <%= f.submit "Submit Rating" %>
    </p>

    <%end%>
    <% else%>
    <p>
      <strong>Rating: </strong> <%= @trip.rating %>
    </p>
    <%end%>

    <p>
      <strong>Cost: </strong>$<%= @trip.cost/100%>
    </p>

  </section>

  <ul>
    <li>
      <%= link_to "Edit Trip", edit_trip_path %>
    </li>
    <li>
      <%= link_to "Delete Trip", trip_path(@trip.id), method: :delete, data: {confirm: 'Are you sure?' } %>
    </li>
  </ul>
