<h1>Trip Number <%= @trip.id %></h1>



<section>
  <p>
    <strong>Trip ID: </strong><%= @trip.id %>
  </p>
  <p>
    <strong>Driver Name: </strong> <%= link_to @trip.driver.name, driver_path(@trip.driver.id) %>
  </p>
  <p>
    <strong>Passenger Name: </strong> <%= link_to@trip.passenger.name, passenger_path(@trip.passenger.id) %>
  </p>
  <p>
    <strong>Date: </strong> <%= @trip.date%>
  </p>
  <p>
    <strong>Rating: </strong> <%= @trip.rating%>
  </p>
  <p>
    <strong>Cost: </strong> <%= @trip.cost/100%>
  </p>

</section>

<ul>
  <li>
    <%= link_to "Edit Trip", edit_trip_path %>
  </li>
  <li>
    <%= link_to "Delete Trip", trip_path(@trip.id), method: :delete, data: {confirm: 'Are you sure?' } %>
  </li>
</ul>
