<h2>Driver Info</h2>

<section>
  <p>
    <strong>Name: </strong><%= @driver.name %>
  </p>
  <p>
    <strong>VIN: </strong><%= @driver.vin %>
  </p>
  <p>
    <strong>Driver Total Earnings: </strong>  $<%=@driver.total_earnings %>
  </p>
  <p>
    <strong>Driver Rating Average: </strong><%= @driver.average_rating %>
  </p>
</section>

<section>
  <p>
    <strong>Trip Information:</strong>
  </p>
  <% if @driver.trips.size == 0 %>
  <p><em>This driver has no trips.</em></p>
  <% else %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Cost</th>
        <th>Passenger Name</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @driver.trips.each do |t|  %>
      <tr>
        <td>
          <%= link_to(t.id, trip_path(t.id)) %>
        </td>
        <td>
          <%= t.date %>
        </td>
        <td>
          $<%= t.cost / 100 %>
        </td>
        <td>
          <%= t.passenger.name %>
        </td>
        <td>
          <%= t.rating %>
        </td>
      </tr>
      <% end  %>
    </tbody>
  </table>
  <% end %>
</section>

<ul>
  <li>
    <%= link_to("Edit Driver", edit_driver_path(@driver.id)) %>
  </li>
  <li>
    <%= link_to("Delete Driver", driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure?"}) %>
  </li>
</ul>
